.espacio {
  display: block;
  height: 200px;
}

body {
  background: linear-gradient(
    to top,
    rgba(216, 180, 149, 0.8),
    rgb(47, 47, 47)
  );
}

.top-bar.scrolled {
  background-color: rgba(47, 47, 47, 0.5);
}

.container-contact-language {
  background-color: #f6f1ec;
  color: #2f2f2f;
}

.contenedor-general {
  margin: 0px 80px;
}

.headline {
  text-align: center;
  margin: 50px auto;
}

.subheadline {
  text-align: center;
  font-size: 20px;
  margin: 50px auto;
}

.trabaja-button2 {
  background-color: #f6f1ec;
  border: none;
  color: #a57665;
  font-weight: bold;
  border-radius: 30px;
  font-size: 25px;
  padding: 10px;
  width: 270px;
  vertical-align: middle;
  margin: 50px;
}

#problema-img {
  width: 90%;
  max-width: 550px;
  min-width: 100px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;
}

.problema-contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2f2f2f;
  border-radius: 5px;
}

.bloque-problema {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.texto-problema {
  text-align: justify;
  padding: 15px;
  width: 100%;
}

.texto-problema .material-symbols-outlined {
  vertical-align: middle;
}

.titulo-general-fase {
  text-align: center;
  font-size: 50px;
  margin: 80px auto 30px;
  color: #f6f1ec;
}

.titulo-fase {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.fase-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.fase {
  background-color: #f6f1ec;
  color: #a57665;
  border-radius: 5px;
  padding: 15px;
  text-align: justify;
}

.fase:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.contenedor-fase ul {
  padding: 0 20px;
  list-style: none;
}

.contenedor-fase .material-symbols-outlined {
  vertical-align: middle;
}

.reserva-button {
  background-color: #2f2f2f;
  color: #f6f1ec;
  margin-bottom: 30px;
}

.menu-btn {
  position: fixed;
  top: 0px;
  right: 15px;
  font-size: 15px;
  background-color: transparent;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #2f2f2f;
  z-index: 1500;
  display: none;
}

.scroll-down {
  display: none;
}

.contacto-formulario {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px;
}

@media (max-width: 900px) {
  .container-contact-language {
    padding: 10px;
    justify-content: left;
    height: 32px;
    gap: 30px;
  }

  .contact-mainpage {
    font-size: 10px;
  }

  .language .material-symbols-outlined {
    font-size: 17px;
  }

  .menu-btn {
    display: block;
    z-index: 1600;
  }

  .menu-container {
    position: fixed;
    top: 15px;
    right: -450px;
    width: 200px;
    height: 100vh;
    border-radius: 0px;
    background-color: rgba(26, 26, 26, 0.9);
    transition: right 0.3s ease-in-out;
    will-change: right;
    z-index: 1800;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px;
    padding: 20px;
    padding-top: 50px;
    backdrop-filter: blur(10px);
  }

  .contenedor-general {
    margin: 0 20px; /* menos espacio lateral */
  }

  .problema-contenedor {
    grid-template-columns: 1fr; /* una columna en móviles */
    gap: 15px;
    padding: 10px;
  }

  #problema-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: auto;
  }

  .fase-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .trabaja-button2 {
    display: flex;
    font-size: 18px;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
  }

  .reserva-button {
    font-size: 20px;
    padding: 10px 15px;
    margin-bottom: 50px;
  }
  .headline {
    font-size: 28px;
    margin: 30px auto;
  }

  .subheadline {
    font-size: 20px;
    margin: 30px auto;
  }

  .titulo-general-fase {
    font-size: 35px;
    margin: 50px auto 20px;
  }

  .titulo-fase {
    font-size: 22px;
  }

  .espacio {
    height: 20px;
  }

  .scroll-down {
    display: block;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    cursor: pointer;
  }

  .scroll-down .material-symbols-outlined {
    font-size: 80px;
  }

  .scroll-down span {
    color: #f6f1ec;
    animation: bounce 1.8s infinite;
    opacity: 0.9;
  }

  .problema-contenedor {
    margin-top: 100px;
  }
}
